{% extends "layout.html" %}
{% block content %}
    <h3>About</h3>
    <p class="text-left">Xavier Chiang is a clinical psychologist registered in New Zealand, Australia and Taiwan. He completed a Ph.D. in the Department of Psychological Medicine at the University of Auckland.
    </p>
    <p class="text-left">His Ph.D. work focused on youth mental health and psychological therapy. Previously trained in clinical psychology at Palo Alto University, California, America, he has worked in a wide range of clinical settings in cluding correctional facility, psychiatric hospitals, community mental health centres, university counselling centres, and substance abuse treatment programmes.
    </p>
    <p class="text-left">Xavier has an eclectic therapeutic approach that primarily includes mindfulness-based Cognitive Behavioural Therapy (CBT) with a take on psychodynamic perspective. He can provide services in English and Mandarin.
    </p>
    <h3>Interest</h3>
    <ul>
        <li>Depression, Anxiety, Obsessive-Compulsive Disorders(OCDs)</li>
        <li>Psychological stress or trauma related issues</li>
        <li>Concerns of ethnic minority and immigrants</li>
        <li>LGBT wellbeing</li>
        <li>Forensic psychology</li>
    </ul>
    <h3>Qualifications</h3>
    <ul>
        <li>Ph.D. In Health Sciences, The University of Auckland, Auckland, New Zealand<br>
            2015 - 2019</li>
        <li>M.S. In Clinical Psychology, Palo Alto University, California, USA<br>
            2005 - 2008</li>
        <li>New Zealand Psychologists Board<br>
            2015 - the present</li>
        <li>New Zealand Psychological Society<br>
            2021 - the present</li>
        <li>Australian Health Practitioner Regulation Agency(AHPRA)<br>
            2019 - the present</li>
        <li>Department of Health, Executive Yuan of Taiwan<br>
            2013 - the present</li>
    </ul>
{% endblock content %}