{% extends "layout.html" %}
{% block content %}
    <h3>FAQ</h3>
    <p class="text-left "><strong>Are you GST registered? How do you collect the payment?</strong><br>
        I am not GST registered. I usually invoice my clients at the end of each session.
    </p>
    <p class="text-left"><strong>How long does each session take?</strong><br>
        A session typically lasts 50 minutes.
    </p>
    <p class="text-left">
        <strong>Do you offer sliding scale rates or other discount programmes?</strong><br>
        No. There are however a number of opportunities for funding you can consider, such as insurance, Disability Allowance, Studylink, ACC or employment benefits.
    </p>
    <p class="text-left"><strong>Can anyone find out what's discussed in session?</strong><br>
        All the sessions are strictly confidential. I can't disclose any details of our engagement without your prior consent. However, in case of the risk to self or others I amy need to work with you in session to report to the appropriate authorities to ensure your safety.
{% endblock content %}