{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1 class="d-flex justify-content-center text-nowrap">思穎心理診所</h1>
</div>
    <h3 class="d-flex justify-content-center">TALK THERAPY</h3>
    <p class="d-flex justify-content-center">Personalised Attention for All Your Wellbeing</p>
    <p class="d-flex justify-content-left">Perhaps you're down or anxious - maybe you're unsure about the future of a relationship, 
        or just feel that you aren't living the life you were meant to lead. Whatever your needs may be, I am here to offer support. 
        Therapy is a process of growth and self-discovery, and in my sessions I promote behavioral transformation by encouraging a 
        positive outlook and the adoption of new attitudes and reactions. I have the tools and professional experience to help you get
         back on track.</p>
    <h3 class="d-flex justify-content-center" style="margin-top: 2rem">I CAN SUPPORT WITH</h3>
    <ul>
        <li>DEPRESSION<br>
            Low or unstable moods; feelings of low self-worth, helplessness; sadness; lack of motivation; psychological trauma, or grief and loss</li>
        <li>ANXIETY<br>
            Social phobia; generalised anxiety; health anxiety; perfectionistic thinking; panic attacks; specific phobias
        </li>
        <li>OBSESSIVE AND COMPULSIVE TENDENCIES<br>
            Intrusive and unwanted thoughts; repetitive or ritualistic behaviour; excessive consciousness or uncontrollable guilt</li>
        <li>DEVELOPMENTAL AND IDENTITY STRUGGLES<br>
            Self-identity; youth psychological development; cultural, gender and/or sexual minority concerns; Migrant and ethnic minority mental wellbeing</li>
    </ul>
    
{% endblock content %}