{% extends "layout.html" %}
{% block content %}
<h3>SERVICES | OFFER</h3>
<p><small>Personalized Care and Guidance</small></p>
<ul>
    <li><strong>Inital Consultation - $180</strong><br>
        This consultation forms the foundation for therapy. During this session, we work together to clarify your ongoing treatment needs and establish whether I am the right psychologist for you.
</li>
    <li><strong>Psychological Therapy - $180</strong><br>
        Psychological therapy refers to the use of psychological methods to improve thinking, emotions and behaviour. The aim is to facilitate optimal psychological health, resilience and wellbeing.</li>
    <li><strong>Psychology Supervision - $180</strong><br>
        I can provide supervision for psychology students who are learning to become psychologists themselves.</li>
    <li><strong>ACC Integrated Services for Sensitive Claims</strong><br>
        I deliver treatment to survivors of sexual and/or mental trauma with the support of ACC.</li>
</ul>
{% endblock content %}